/*MAIN STYLES*/
.page-title {
  text-transform: uppercase;
  text-align: center;
}
.page-title img {
  width: 100%;
  max-width: 320px;
}
h2,
h3 {
  font-weight: lighter;
}
body {
  background: url('../images/background.jpg');
  background-attachment: fixed; 
  background-position: center top;
  /*	div{
		background: red !important;
	}*/

}
footer p {
  text-align: center;
  color: #777;
  margin-top: 40px;
  font-size: 12px;
}
.navbar {
  display: none;
}
/*PAGE HEAD STYLES*/
.page-head-container {
  /*padding-bottom: 20px;*/

  z-index: 200;
}
/*GEOLOCATION FORM STYLES*/
.geo-location-form {
  margin-bottom: 20px;
}
.geo-location-form input,
.geo-location-form a {
  float: left;
}
#geocode-button {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 14px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
@media screen and (max-width: 500px) {
  #geocode-button {
    padding-left: 0px;
    padding-right: 0px;
  }
}
#geocode-button img {
  max-height: 30px;
}
.user-address {
  display: block;
  width: 100%;
  padding: 10px;
  min-height: 45px;
}
.month-selection {
  margin-bottom: 20px;
}
.temp-formatter .btn-group {
  width: 100%;
}
.temp-formatter .btn {
  width: 50%;
}
.temp-formatter .btn.active {
  border: 1px solid #DF6000;
}
/*INFO DISPLAY STYLES*/
.climate-content-header {
  margin-top: 10px;
}
.climate-change-content {
  background: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  color: white;
  position: relative;
}
@media screen and (max-width: 500px) {
  .climate-change-content h2 {
    font-size: 1.3em;
  }
}
.degrees-text {
  clear: both;
  display: block;
}
.degree-number {
  font-size: 8em;
  font-weight: lighter;
}
@media screen and (max-width: 500px) {
  .degree-number {
    font-size: 6em;
  }
}
@media screen and (max-width: 320px) {
  .degree-number {
    font-size: 4em !important;
  }
}
.temp-left {
  text-align: right;
}
.temp-left .degree-number {
  border-bottom: 5px solid red;
}
.temp-right {
  text-align: left;
}
.temp-right .degree-number {
  border-bottom: 5px solid blue;
}
/*RAINFALL DISPLAY*/
.rainfall-container {
  text-align: center;
}
.rainfall-container img {
  max-width: 15px;
  vertical-align: top;
  margin-top: 5px;
}
.rainfall-display {
  display: inline-block;
  padding-left: 0px;
  margin-top: 10px;
}
.rainfall-display li {
  list-style-type: none;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
/*NAVIGATION*/
.next-arrow,
.prev-arrow {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  bottom: 0px;
  /*padding-top: 25%;*/

  text-align: center;
  width: 40px;
  z-index: 100;
  cursor: pointer;
}
.next-arrow img,
.prev-arrow img {
  max-width: 90%;
  margin-top: 50%;
}
.next-arrow:hover,
.prev-arrow:hover {
  background: black;
}
.next-arrow {
  right: 0px;
}
/*INFO PANE*/
.info-content-pane {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: none;
  overflow: hidden;
  /*height: 250px;*/

}
.info-content-pane p {
  display: none;
  color: white;
  margin-left: 15px;
  margin-top: 15px;
  width: 80%;
  display: block;
}
.info-content-pane .close-pane {
  color: #ccc;
  float: right;
  font-size: 2em;
  font-weight: lighter;
  margin-right: 15px;
  cursor: pointer;
}
.info-content-pane .close-pane:hover {
  color: white;
}
.time-frame {
  font-size: .8em;
}
.current_month {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ccc;
}
.slide-nav {
  text-align: center;
  margin-top: 10px;
}
.slide-nav img {
  max-width: 15px;
  margin: 0px 3px;
  cursor: pointer;
}
.info-pane-2 {
  clear: both;
}
.info-pane-2 .panel-heading,
.info-pane-2 .panel {
  background: transparent;
  color: white;
}
.info-pane-2 .panel-heading h4 > a {
  font-weight: normal;
  letter-spacing: 1px;
}
.info-pane-2 .panel {
  border: none;
}
.info-nav {
  text-align: center;
  margin: 20px 0px;
}
.info-nav a {
  padding-right: 10px;
  margin-left: 10px;
  border-right: 1px solid #DF6000;
  color: #DF6000;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.info-nav a:last-child {
  border-right: none;
}
