/*MAIN STYLES*/

.page-title{
	text-transform: uppercase;
	text-align: center;
	img{
		width: 100%;
		max-width: 320px;
	}
}

h2, h3{
	font-weight:lighter;
}

body{
	background: url('../images/background.jpg');
	background-attachment: fixed;
	background-position: center top;
/*	div{
		background: red !important;
	}*/
}

footer p{
	text-align: center;
	color:#777;
	margin-top: 40px;
	font-size: 12px;
}

.navbar{
	display:none;
}

/*PAGE HEAD STYLES*/
.page-head-container{
	/*padding-bottom: 20px;*/
}


/*GEOLOCATION FORM STYLES*/
.geo-location-form{
	margin-bottom: 20px;
	input, a{
		float:left;
	}
}

#geocode-button{
	width: 100%;
	margin: 0 auto;
	display: block;
	font-size: 14px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	img{
		max-height: 30px;
	}
}

.user-address{
	display: block;
	width: 100%;
	padding: 10px;
	min-height: 45px;
}

.month-selection{
	margin-bottom: 20px;
}

.temp-formatter{
	.btn-group{
		width: 100%;
	}
	.btn{
		width: 50%;
	}
	.btn.active{
		border: 1px solid #DF6000;
	}
}

/*INFO DISPLAY STYLES*/
.climate-content-header{
	margin-top: 10px;
}

.climate-change-content{
	background: rgba(0,0,0,0.3);
	margin-top: 20px;
	color: white;
	position:relative;
	
	h2{
		@media screen and (max-width: 500px){
			font-size: 1.3em;
		}
	}	
}

.degrees-text{
	clear:both;
	display:block;
}

.degree-number{
	font-size: 8em;
	font-weight:lighter;
	@media screen and (max-width: 500px){
		font-size: 6em;
	}	
	@media screen and (max-width: 320px){
		font-size: 4em !important;
	}	
}

.temp-left{
	text-align: right;
	.degree-number{
		border-bottom: 5px solid red;
	}
}

.temp-right{
	text-align: left;
	.degree-number{
		border-bottom: 5px solid blue;
	}
}

/*RAINFALL DISPLAY*/
.rainfall-container{
	text-align: center;
	img{
		max-width: 15px;
		vertical-align:top;
		margin-top: 5px;
	}	
}

.rainfall-display{
	display:inline-block;
	padding-left: 0px; 
	margin-top: 10px;
	li{
		list-style-type: none;
		display:inline-block;
		float:left;
		margin-right: 10px;

	}
}

/*NAVIGATION*/
.next-arrow, .prev-arrow{
	background: rgba(0,0,0,0.3);
	position:absolute;	
	top: 0px;
	bottom: 0px;
	/*padding-top: 25%;*/
	text-align: center;
	width: 40px;
	z-index:9999;
	cursor:pointer;
	img{
		max-width: 90%;
		margin-top: 50%;
	}
	&:hover{
		background:black;
	}
}

.next-arrow{
	right:0px;
}

.prev-arrow{

}

/*INFO PANE*/
.info-content-pane{
	background: rgba(0,0,0,0.3);
	padding: 10px;
	display:none;
	overflow:hidden;
	/*height: 250px;*/
	p{
		display:none;
		color:white;
		margin-left: 15px;
		margin-top: 15px;
		width: 80%;
		display:block;
	}
	.close-pane{
		color:#ccc;
		float:right;
		font-size: 2em;
		font-weight:lighter;
		margin-right: 15px;
		cursor:pointer;
		&:hover{
			color:white;
		}
	}
}

.info-nav {
	text-align: center;
	margin: 20px 0px;
	a{
		padding-right: 10px;
		margin-left: 10px;
		border-right: 1px solid #DF6000;
		color: #DF6000;
		letter-spacing: 1px;
		text-transform: uppercase;
		&:last-child{
			border-right: none;
		}
	}
}




