<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="climate"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">

        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
       

        <link rel="stylesheet" type="text/css" href="css/main.css" />

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/angular.min.js"></script>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body ng-controller="HomeController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style='display: none'>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code for Asheville - Climate Change</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <!-- <input type="text" placeholder="Email" class="form-control"> -->
            </div>
            <div class="form-group">
              <!-- <input type="password" placeholder="Password" class="form-control"> -->
            </div>
            <!-- <button type="submit" class="btn btn-success">Sign in</button> -->
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="page-head-container">
      <div class="container">
        <!-- <i class="fa fa-camera-retro"></i> fa-camera-retro -->
        <!-- INFORMATION LINKS -->
        <div class="info-container">
          <div class="info-nav">
            <a href="#" class="info-link-1">How to use</a>
            <a href="#" class="info-link-2">How to get involved</a>
            <a href="#" class="info-link-3">About this project</a>
          </div>
          <div class="info-content-pane well">
            <div class="info-content-header">
              <span class="close-pane">[ x ]</span>
            </div>
            <div class="info-content">
              <p class="info-pane-1">
                <b>Look into your Forecast Future</b><br></br>
                Enter your location in the search field below. Then look below to see the current temperature. Navigate right to view the projected temperature from 50 years from now.
              </p>
              <div class="info-pane-2">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Use Less Energy and Save Money
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <ul>
                          <li>
                            Plug air leaks in windows and doors to increase energy efficiency.
                          </li>
                          <li>
                            Adjust your thermostat, lower in winter, higher in summer.
                          </li>
                          <li>
                            Replace old appliances and light bulbs with energy efficient models.
                          </li>
                          <li>
                            Save electricity by plugging appliances into a power strip and turning them off completely when not in use.
                          </li>
                          <li>
                            Wash clothes in cold or warm water.
                          </li>
                          <li>
                            Run dishwashers only when full and don’t use heat to dry dishes.
                          </li>
                          <li>
                            Think before you travel. If a video conference call will suffice, spare the hassle and expense, and CO2 emissions.
                          </li>                                                           
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          Use Less Energy and Live Healthier
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul>
                          <li>
                            Avoid traffic jams by walking, bicycling, and using mass transit whenever possible. Consider carpooling with friends, neighbors, and co-workers.
                          </li>
                          <li>
                            Taking the stairs can sometimes be faster than waiting in long elevator lines.
                          </li>
                          <li>
                            Eat less meat, poultry, and fish.
                          </li>                                                          
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          Reduce Your Environmental Footprint and Save Money
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul>
                          <li>
                            Buy minimally packaged goods.
                          </li>
                          <li>
                            Reuse, mend, and repurpose things.
                          </li>
                          <li>
                            Print double-sided or not at all.
                          </li>                                                          
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>                
              </div>
              <p class="info-pane-3">
                <b>Forecast 2050: "Your Weather Report from the Future"</b><br></br>
                From Awareness, Comes Action.

                It’s our world: see how climate change affects our future weather.

                Quickly get current averages and future weather information for your location and any place in the world.

                Using data from the World Bank, see climate variables such as temperature and precipitation
                broken down by monthly averages and climate model projections. Get a glimpse of what your city may feel like in the future. Then help combat climate change. Share and find out how to do your part.
              </p>              
            </div>
          </div>
        </div>
       <!-- END INFORMATION LINKS -->      
        <h1 class='page-title'><img src="images/logo-2050.png" alt="logo" /></h1>
        <div class="geo-location-form row">
          <div class="col-xs-9 col-sm-6 col-sm-offset-2">
            <input class='user-address form-control' type='text' value='' placeholder='Enter your address or ZIP' />
          </div>
          <div class="col-xs-3 col-sm-2">
            <a class="btn btn-primary" id='geocode-button' role="button"><img src="images/location-icon.png" alt="location icon"/></a>
          </div>
        </div>
        <div class='row'>
          <!-- <div class='col-xs-12 col-sm-6 month-selection'> -->
<!--             <select class="form-control" ng-model='opts.month' ng-change='load_json()'>
              <option value='1'>January</option>
              <option value='2'>February</option>
              <option value='3'>March</option>
              <option value='4'>April</option>
              <option value='5'>May</option>
              <option value='6'>June</option>
              <option value='7'>July</option>
              <option value='8'>August</option>
              <option value='9'>September</option>
              <option value='10'>October</option>
              <option value='11'>November</option>
              <option value='12'>December</option>
            </select> -->
            <div class='col-xs-12 col-sm-8 col-sm-offset-2 temp-formatter'>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active" ng-click="temp_unit_change('c')"> Celsius  &deg;</label>
                <label class="btn btn-default" ng-click="temp_unit_change('f')"> Fahrenheit &deg;</label>
              </div>
            </div>             
          </div>
        
        </div>
        <!-- ANGULAR TEST -->
        <!-- <div class='row'>
          <div class='col-lg-12'>
            <input type='text' ng-model='opts.present_start' ng-change='load_json()' />
            <input type='text' ng-model='opts.present_end' ng-change='load_json()' />
            <input type='text' ng-model='opts.basin_id' ng-change='load_json()' />
          </div>
        </div> --> 
        <!-- END ANGULAR TEST  --> 
      </div>
    </div>   
    <div class='climate-change-content-window'>
      <!-- Start Present -->
      <div class='container climate-change-content climate-change-content-present' ng-show="showPresent" ng-click="showPresent = false; load_json();" ng-swipe-left="showPresent = false" >
        <div class='row'>
          <div class="col-xs-12 text-center climate-content-header">
            <span class="time-frame">Present AVG (1999 - Now): </span><br>
            <span class='current_month'>{{opts.month_name}}</span><br>
            <span class="location-indicator"></span>
          </div>
          <div class='col-xs-6 temp-left'>
            <h2>Avg High</h2>
            <p class='degree-display'>
              <span class="degree-number">{{ present.avg_high | c_or_f:temp_format }}&deg; </span> 
              <span class="degrees-text">{{ temp_word }}</span>
            </p>
          </div>
          <div class='col-xs-6 temp-right'>
            <h2>Avg Low</h2>
            <p class='degree-display'>
              <span class="degree-number">{{ present.avg_low | c_or_f:temp_format }}&deg; </span> 
              <span class="degrees-text">{{ temp_word }}</span>
            </p>
          </div>
          <div class="next-arrow"><img src="images/arrow-next.png" alt="next arrow"/></div>
        </div>
        <div class='row'>
          <div class='col-xs-12 text-center'>
              <div class="rainfall-container">
              <h3>Avg Rainfall <img src="images/rain-drop-new.png" alt="raindrop icon"/></h3>
            </div>
          </div>
        </div>
      </div>
      <!-- End Present -->
      <!-- Start Future -->
      <div class='container climate-change-content climate-change-content-future' ng-show="! showPresent" ng-click="showPresent = true" ng-swipe-right="showPresent = true" >
          <div class='row'>
            <div class="col-xs-12 text-center climate-content-header">
              <span class='time-frame'>Future AVG ({{opts.future_start}} - {{opts.future_end}}): </span> <br>
              <span class='current_month'>{{opts.month_name}}</span>
              <span class="location-indicator"></span>
            </div>
            <div class="prev-arrow"><img src="images/arrow-prev.png" alt="prev arrow"/></div>
            <div class='col-xs-6 temp-left'>
              <h2>Avg High</h2>
              <p class='degree-display'>
                <span class="degree-number">{{ future.avg_high | c_or_f:temp_format }}&deg; </span> 
                <span class="degrees-text">{{ temp_word }}</span>
              </p>
            </div>
            <div class='col-xs-6 temp-right'>
              <h2>Avg Low</h2>
              <p class='degree-display'>
                <span class="degree-number">{{ future.avg_low | c_or_f:temp_format }}&deg; </span> 
                <span class="degrees-text">{{ temp_word }}</span>
              </p>
            </div>
            <!-- <div class="next-arrow col-xs-1"><img src="images/arrow-next.png" alt="next arrow"/></div> -->
          </div>
          <div class='row'>
            <div class='col-xs-12 text-center'>
                <div class="rainfall-container">
                <h3>Avg Rainfall <img src="images/rain-drop-new.png" alt="raindrop icon"/></h3>
              </div>
            </div>
          </div>
          <div class='row'>
            Feels like: <span>{{similarCity}} </span>
          </div>
        </div>
      <!-- End Future -->
      <div class='container'>
        <div class='row slide-nav'>
          <div class="col-xs-12">
            <div ng-show="showPresent" ng-click="showPresent = ! showPresent">
               <img src="images/slide-nav-selected.png" alt="logo" />
               <img src="images/slide-nav-unselected.png" alt="logo" />
            </div>
            <div ng-show="! showPresent" ng-click="showPresent = ! showPresent">
               <img src="images/slide-nav-unselected.png" alt="logo" />
               <img src="images/slide-nav-selected.png" alt="logo" />
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12'>
            <div class="well info-content-pane">
              <h2>Region Impact Things</h2>
              <div ng-show='activeRegion == 1'>
                <h3>Northeast</h3>
                <p>
                  “Heat waves, heavy downpours, and sea level rise pose growing challenges to many aspects of life in the Northeast. Infrastructure, agriculture, fisheries, and ecosystems will be increasingly compromised. Many states and cities are beginning to incorporate climate change into their planning.”
                </p>
                <a href="http://nca2014.globalchange.gov/highlights/regions/northeast">Read More...</a>
              </div>
              <div ng-show='activeRegion == 2'>
                <h3>Southeast</h3>
                <p>
                  “Sea level rise poses widespread and continuing threats to the region’s economy and environment. Extreme heat will affect health, energy, agriculture, and more. Decreased water availability will have economic and environmental impacts.”
                </p>
                <a href="http://nca2014.globalchange.gov/highlights/regions/southeast">Read More...</a>
              </div>
              <div ng-show='activeRegion == 3'>
                <h3>Midwest</h3>
                <p>
                  “Extreme heat, heavy downpours, and flooding will affect infrastructure, health, agriculture, forestry, transportation, air and water quality, and more. Climate change will also exacerbate a range of risks to the Great Lakes.”
                </p>
                <a href="http://nca2014.globalchange.gov/highlights/regions/midwest">Read More...</a>
              </div>
              <div ng-show='activeRegion == 4'>
                <h3>Great Plains</h3>
                <p>
                  “Rising temperatures are leading to increased demand for water and energy. In parts of the region, this will constrain development, stress natural resources, and increase competition for water. New agricultural practices will be needed to cope with changing conditions.”
                </p>
                <a href="http://nca2014.globalchange.gov/highlights/regions/great-plains">Read More...</a>
              </div>
              <div ng-show='activeRegion == 5'>
                <h3>Southwest</h3>
                <p>
                  “Increased heat, drought, and insect outbreaks, all linked to climate change, have increased wildfires. Declining water supplies, reduced agricultural yields, health impacts in cities due to heat, and flooding and erosion in coastal areas are additional concerns.”
                </p>
                <a href="http://nca2014.globalchange.gov/highlights/regions/southwest">Read More...</a>
              </div>
              <div ng-show='activeRegion == 6'>
                <h3>Northwest</h3>
                <p>
                  “Changes in the timing of streamflow reduce water supplies for competing demands. Sea level rise, erosion, inundation, risks to infrastructure, and increasing ocean acidity pose major threats. Increasing wildfire, insect outbreaks, and tree diseases are causing widespread tree die-off.”
                </p>
                <a href="http://nca2014.globalchange.gov/highlights/regions/northwest">Read More...</a>
              </div>
              <div ng-show='activeRegion == 7'>
                <h3>Alaska</h3>
                <p>
                  “Alaska has warmed twice as fast as the rest of the nation, bringing widespread impacts. Sea ice is rapidly receding and glaciers are shrinking. Thawing permafrost is leading to more wildfire, and affecting infrastructure and wildlife habitat. Rising ocean temperatures and acidification will alter valuable marine fisheries.”
                </p>
                <a href="http://nca2014.globalchange.gov/highlights/regions/alaska">Read More...</a>
              </div>
              <div ng-show='activeRegion == 8'>
                <h3>Hawaii</h3>
                <p>
                  “Warmer oceans are leading to increased coral bleaching and disease outbreaks and changing distribution of tuna fisheries. Freshwater supplies will become more limited on many islands. Coastal flooding and erosion will increase. Mounting threats to food and water security, infrastructure, health, and safety are expected to lead to increasing human migration.”
                </p>
                <a href="http://nca2014.globalchange.gov/highlights/regions/hawaii">Read More...</a>
              </div>
              <div ng-show='activeRegion == 9'>
                <h3>Africa</h3>
                <p>
                  “Although the countries of Africa have some of the lowest overall and per capita global warming emissions on the planet, they are also likely to suffer from some of the worst consequences of climate change. These impacts may already be unfolding in the form of droughts, famine, desertification, and population displacement. In the context of high levels of poverty and malnutrition, the priority for many African countries is increasing access to energy services and improving the economic welfare of their people.”
                </p>
                <a href="http://www.climatehotmap.org/global-warming-solutions/africa.html">Read More...</a>
              </div>
              <div ng-show='activeRegion == 10'>
                <h3>Europe</h3>
                <p>
                  “Climate change is happening now: temperatures are rising, rainfall patterns are shifting, glaciers and snow are melting, and the global mean sea level is rising. We expect that these changes will continue, and that extreme weather events resulting in hazards such as floods and droughts will become more frequent and intense. Impacts and vulnerabilities for nature, the economy and our health differ across regions, territories and economic sectors in Europe.”
                </p>
                <a href="http://www.eea.europa.eu/themes/climate">Read More...</a>
              </div>
              <div ng-show='activeRegion == 11'>
                <h3>Asia</h3>
                <p>
                  “People in coastal regions of Asia, particularly those living in cities, could face some of the worst effects of global warming, climate experts will warn this week. Hundreds of millions of people are likely to lose their homes as flooding, famine and rising sea levels sweep the region, one of the most vulnerable on Earth to the impact of global warming, the UN states.”
                </p>
                <a href="http://www.theguardian.com/environment/2014/mar/22/global-warming-hit-asia-hardest">Read More...</a>
              </div>
              <div ng-show='activeRegion == 12'>
                <h3>Australia</h3>
                <p>
                  “Leading scientists advise climate change will cause increases to the frequency and intensity of extreme weather events. Rising sea levels pose a significant risk to coastal communities, while the world’s oceans could become too acidic to support coral reefs and other calcifying marine organisms.”
                </p>
                <a href="http://www.climatechange.gov.au/climate-change/climate-science/climate-change-impacts-australia">Read More...</a>
              </div>
              <div ng-show='activeRegion == 13'>
                <h3>Central/South America</h3>
                <p>
                  “Changes in water availability due to climate change are leading us to more intense floods and droughts. Agriculture in the region will be impacted by climate change leading to increased uncertainty in food production and consequently food security. Sea level rise will affect the over 600 million people living on coastal areas in Latin America and the Caribbean.”
                </p>
                <a href="http://350.org/impacts-of-climate-change-in-latin-america-and-the-caribbean-5-things-you-need-to-know/">Read More...</a>
              </div>
              <div ng-show='activeRegion == 14'>
                <h3>North America</h3>
                <p>
                  Insect infestations, forest fires, floods and drought reflect the devastating impact global warming is already having on the vast Canadian landscape, according to experts from all 10 provinces and two territories.
                </p>
                <a href="http://www.canada.com/montrealgazette/news/montreal/story.html?id=adf03a81-a3ee-4657-8ed1-dab96e4276af
    ">Read More...</a>
              </div>
            </div>
          </div>
        </div>
      </div>          

    </div> <!-- /end window -->
    </div> <!-- /container -->     
    <div class='container'>
      <div class='row'>
        <footer>
          <p>&copy; Code for Asheville (and friends) 2014</p>
        </footer>

      </div>

    </div>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.4/jquery.geocomplete.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="data/basin.js"></script>
        <script src="data/regions.js"></script>
        <script src="data/global_cities.js"></script>
        <script src="data/us_cities.js"></script>
        <script src="js/app.js"></script>
        <script src="js/user_interface.js"></script>
        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='http://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
