<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="climate"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">

        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
       

        <link rel="stylesheet" type="text/css" href="css/main.css" />

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/angular.min.js"></script>
    </head>
    <body ng-controller="HomeController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style='display: none'>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code for Asheville - Climate Change</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <!-- <input type="text" placeholder="Email" class="form-control"> -->
            </div>
            <div class="form-group">
              <!-- <input type="password" placeholder="Password" class="form-control"> -->
            </div>
            <!-- <button type="submit" class="btn btn-success">Sign in</button> -->
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="page-head-container">
      <div class="container">
        <h1 class='page-title'><img src="images/logo.png" alt="logo" /></h1>
        <div class="geo-location-form row">
          <div class="col-xs-9">
            <input class='user-address form-control' type='text' value='' placeholder='Enter you address or ZIP' />
          </div>
          <div class="col-xs-3">
            <a class="btn btn-primary" id='geocode-button' role="button"><img src="images/location-icon.png" alt="location icon"/></a>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12'>
            <select class="form-control" ng-model='opts.month' ng-change='load_json()'>
              <option value='1'>January</option>
              <option value='2'>Febraury</option>
              <option value='3'>March</option>
              <option value='4'>April</option>
              <option value='5'>May</option>
              <option value='6'>June</option>
              <option value='7'>July</option>
              <option value='8'>August</option>
              <option value='9'>September</option>
              <option value='10'>October</option>
              <option value='11'>November</option>
              <option value='12'>December</option>
            </select>
          </div>
        </div>        
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <input type='text' ng-model='opts.present_start' ng-change='load_json()' />
        <input type='text' ng-model='opts.present_end' ng-change='load_json()' />
        <input type='text' ng-model='opts.basin_id' ng-change='load_json()' />
      </div>
    </div>    
    <div class='climate-change-content-window'>
      <!-- Start Past -->
      <div class='container climate-change-content climate-change-content-past' style='display: none'>
        <div class='row'>
          <div class="col-xs-12 text-center">
            PAST AVG (1991 - 2010)
          </div>
          <!-- <div class="prev-arrow"><img src="images/arrow-prev.png" alt="prev arrow"/></div> -->
          <div class='col-xs-6 text-center'>
            <h2>Avg High</h2>
            <p class='degree-display'>
              <span class="degree-number">70</span> 
              <span class="degrees-text">degrees</span>
            </p>
          </div>
          <div class='col-xs-6 text-center'>
            <h2>Avg Low</h2>
            <p class='degree-display'>
              <span class="degree-number">70</span> 
              <span class="degrees-text">degrees</span>
            </p>
          </div>
          <div class="next-arrow"><img src="images/arrow-next.png" alt="prev arrow"/></div>
        </div>
        <div class='row'>
          <div class='col-xs-12 text-center'>
              <div class="rainfall-container">
              <h3>Avg Rainfall</h3>
              <ul class="rainfall-display">
                <li><img src="images/rain-drop.png" alt="raindrop icon"/></li>
                <li><img src="images/rain-drop.png" alt="raindrop icon"/></li>
                <li><img src="images/rain-drop.png" alt="raindrop icon"/></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Present -->
      <div class='container climate-change-content climate-change-content-present'>
        <div class='row'>
          <div class="col-xs-12 text-center">
            Present AVG ({{ opts.present_start }} - {{ opts.present_end }})
          </div>
          <div class="prev-arrow"><img src="images/arrow-prev.png" alt="prev arrow"/></div>
          <div class='col-xs-6 text-center'>
            <h2>Avg High</h2>
            <p class='degree-display'>
            <span class="degree-number">{{ future.avg_high }}</span> 
              <span class="degrees-text">degrees</span>
            </p>
          </div>
          <div class='col-xs-6 text-center'>
            <h2>Avg Low</h2>
            <p class='degree-display'>
            <span class="degree-number">{{ future.avg_low }}</span> 
              <span class="degrees-text">degrees</span>
            </p>
          </div>
          <div class="next-arrow"><img src="images/arrow-next.png" alt="next arrow"/></div>
        </div>
        <div class='row'>
          <div class='col-xs-12 text-center'>
              <div class="rainfall-container">
              <h3>Avg Rainfall</h3>
              <ul class="rainfall-display">
                <li><img src="images/rain-drop.png" alt="raindrop icon"/></li>
                <li><img src="images/rain-drop.png" alt="raindrop icon"/></li>
                <li><img src="images/rain-drop.png" alt="raindrop icon"/></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Present -->
      <!-- Start Future -->
      <div class='container climate-change-content climate-change-content-future' style='display: none'>
          <div class='row'>
            <div class="col-xs-12 text-center">
              Future AVG (1991 - 2010)
            </div>
            <div class="prev-arrow col-xs-1"><img src="images/arrow-prev.png" alt="prev arrow"/></div>
            <div class='col-xs-6 text-center'>
              <h2>Avg High</h2>
              <p class='degree-display'>
                <span class="degree-number">70</span> 
                <span class="degrees-text">degrees</span>
              </p>
            </div>
            <div class='col-xs-6 text-center'>
              <h2>Avg Low</h2>
              <p class='degree-display'>
                <span class="degree-number">70</span> 
                <span class="degrees-text">degrees</span>
              </p>
            </div>
            <!-- <div class="next-arrow col-xs-1"><img src="images/arrow-next.png" alt="next arrow"/></div> -->
          </div>
          <div class='row'>
            <div class='col-xs-12 text-center'>
                <div class="rainfall-container">
                <h3>Avg Rainfall</h3>
                <ul class="rainfall-display">
                  <li><img src="images/rain-drop.png" alt="raindrop icon"/></li>
                  <li><img src="images/rain-drop.png" alt="raindrop icon"/></li>
                  <li><img src="images/rain-drop.png" alt="raindrop icon"/></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
      <!-- End Future -->
    </div> <!-- /end window -->
    <hr>

    </div> <!-- /container -->     
    <div class='container'>
      <div class='row'>
            <footer>
          <p>&copy; Code for Asheville (and friends) 2014</p>
        </footer>

      </div>

    </div>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.4/jquery.geocomplete.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/user_interface.js"></script>
        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='http://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
